input {
  background: #2f4f4f00;
  border: none;
  text-align: end;
}

.input-value-form {
  border: 1px solid #2f4f4f00;;
  border-radius: 5px;
  background: #d8dee4;
}

@media print {
  .no-print {
    display: none;
  }
  .input-value-form{
    border: unset; 
    background: unset;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
